@import url(https://fonts.googleapis.com/css?family=Antic|Syncopate);

.auth-view {
  font-family: 'Syncopate', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.logo-and-phrase {
  position: absolute;
  top: 35%;
  display: block;
  width: 100%;
  height: 34px;
  margin: 0 auto;
  color: #000000;
}

.logo {
  font-size: 100px;
}

.phrase {
  font-weight: bold;
  font-size: 20px;
}

#title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px #1C1B1B;
}

.btn {
  padding: 15px;
  border: 3px solid;
  margin-top: 10px;
}

.btn:hover {
  color: rgb(255,233,75)
}

.text {
  font-size: 11px;
}








/*.signup, .login {
  position: absolute;
  top: 30%;
  padding: 25px;
  border: solid 2px;
}*/
/*
.signup {
  left: 30%;
}

.login {
  right: 30%;
}*/

/*html{
  background: url(../assets/D.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*html {
  background: url(../assets/folio-wallmartpay-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
