@import url(https://fonts.googleapis.com/css?family=Antic|Syncopate);

/*html {
  background: url(../assets/folio-wallmartpay-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.auth-view {
  font-family: 'Syncopate', sans-serif;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.auth-view-logo {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
}

.logo {
  display: block;
  font-size: 140px;
}

.slogan {
  font-size: 30px;
}

.signup, .login {
  position: absolute;
  top: 40%;
  padding: 40px;
  border: solid 4px;
}

.signup {
  left: 10%;
}

.login {
  right: 10%;
}

.btn {
  padding: 15px;
  border: 3px solid;
  margin-top: 20px;
}

.btn:hover {
  color: rgb(255,233,75)
}

.text {
  font-size: 29px;
}

html{
  background: url(../assets/D.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
