.dash-paths {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  background-color: rgba(0,0,0,0);
  margin: 25px 10px 10px 10px;
  left: 20px;
  font-size: 20px;
  color: white;
  padding-bottom: 6px;
}

.dash-link {
  float: left;
  margin: 0 30px 0 0;
}
