.expenseApp-container {
  width: 96%;
  margin: 0 auto;
}

.expense-list-container,
.rightSection-container {
  top: 15%
}

.expense-list-container {
  position: absolute;
  left: 2%;
  width: 55%;
  max-height: 100%;
  bottom: 4%;
  overflow-y: scroll;
}

.chart-container {
  /*max-height: 40px;*/
  margin: 0 auto;
  width: 96%;
}

.chart {
  margin: 0 auto;
}

.rightSection-container {
  position:fixed;
  right: 2%;
  width: 40%;
  max-height: 100%;
  bottom: 4%;
  margin: auto;
  display: block;
  background: #F7F7F7;
}

.total {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
