.expenseApp-container {
  width: 95%;
  margin: 0 auto;
}

.expense-list-container,
.rightSection-container {
  top: 15%
}

.expense-list-container {
  position: absolute;
  left: 5%;
  width: 48%;
}

/*.chart-container {
  max-height: 40px;
}*/

.rightSection-container {
  position:fixed;
  right: 5%;
  width: 40%;
  margin: auto;
  display: block;
}

.total {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}
