.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100%;
  height: 40px;
  background-color: #00a087;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}

.nav-logo {
  float: left;
  font-size: 35px;
}

.nav-item {
  float: right;
}
