.nav {
  font-family: 'Syncopate', sans-serif;
  list-style-type: none;
  z-index: 9;
  background: #FFFFFF;
}

.nav-dash {
  position: fixed;
  background: #424242;
  display: block;
}

.item, .item-nav, .item-dash {
  line-height: 80px;
  color: #000000;
  font-size: 20px;
}

.item-nav {
  position: absolute;
}

.item-dash {
  position:inherit;
}

.nav-logo {
  position: absolute;
  left: 30px;
  font-size: 35px;
}

.signup, .logout {
  right: 35px;
}

.login {
  right: 150px;
}

.guest-user {
  right: 250.94px;
  line-height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
}
