@import url(https://fonts.googleapis.com/css?family=Antic|Syncopate);

.nav {
  font-family: 'Syncopate', sans-serif;
  list-style-type: none;
  z-index: 9;
}

.item {
  position: absolute;
  line-height: 80px;
  color: #000000;
}

.nav-logo {
  left: 30px;
  font-size: 35px;
}

.nav-item {
  font-size: 20px;
}

.signup {
  right: 35px;
}

.login {
  right: 150px;
}

.guest-user {
  right: 250.94px;
  line-height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
}

/*.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;
}*/
