

.nav {
  list-style-type: none;
  z-index: 9;
  background: #FFFFFF;
}

.nav-dash {
  position: fixed;
  background-color: #F7F7F7;
  display: block;
}

.item {
  position: absolute;
  line-height: 80px;
  color: #000000;
}

.nav-logo {
  left: 30px;
  font-size: 35px;
}

.nav-item {
  font-size: 20px;
}

.signup, .logout {
  right: 35px;
}

.login {
  right: 150px;
}

.guest-user {
  right: 250.94px;
  line-height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
}
