.signup, .login {
  position: absolute;
  top: 65%;
  padding: 40px;
  border: solid 4px;
}

.signup {
  left: 10%;
}

.login {
  right: 10%;
}

.btn {
  padding: 15px;
  border: 3px solid;
  margin-top: 20px;
}

.btn:hover {
  color: rgb(255,233,75)
}
