.App {
  text-align: center;
}

.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.title {
  font-size: 5em;
  text-shadow: 0 3px 0 #b2a98f,
     0 14px 10px rgba(0,0,0,0.15),
     0 24px 2px rgba(0,0,0,0.1),
     0 34px 30px rgba(0,0,0,0.1);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dropzone {
    margin: 10px auto;
    padding: 10px;
    border: 2px dotted white;
    max-width: 40%;
}
