@import url(https://fonts.googleapis.com/css?family=Antic|Syncopate);

body {
  font-family: 'Syncopate', sans-serif;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*.dropzone {
    margin: 10px auto;
    padding: 10px;
    border: 2px dotted white;
    max-width: 40%;
}

.transactions {
  margin: 0 auto;
}*/
